<h1>Result</h1>

<% if @included %>
  <% if @english_word %>
    <h3>Score: <%= @score %></h3>
    <p><strong>Congratulations!</strong> <%= @word %> works, ya smartypants!</p>
  <% else %>
    <h3>Score: <%= 0 %></h3>
    <p>Sorry but <strong><%= @word %></strong> that ain't English!</p>
  <% end %>
<% else %>
  <h3>Score: <%= 0 %></h3>
  <p>Sorry but <strong><%= @word %></strong> can't be built out of <%= @letters.join(", ") %>, cheater!</p>
<% end %>

<%= link_to "Play again", new_path %>
